<!DOCTYPE html>
<html lang="ko-KR" class="no-js">
{% include head.html %}
<body class="home blog">
  <div id="page" class="hfeed site">
    <a class="skip-link screen-reader-text" href="#content">콘텐츠로 바로가기</a>
    {% include sidebar.html %}
    <div id="content" class="site-content">
      <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
          {{ content }}
        </main>
      </div>
    </div>
    {% include footer.html %}
  </div>
  <!--[if lt IE 9]>
  <script src="{{ "/assets/javascript/html5.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <![endif]-->
  <script type='text/javascript' src="{{ "/assets/javascript/jquery/jquery.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script type='text/javascript' src="{{ "/assets/javascript/jquery/jquery-migrate.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script type='text/javascript' src="{{ "/assets/javascript/skip-link-focus-fix.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script type='text/javascript'>
  /* <![CDATA[ */
  var screenReaderText = {"expand":"<span class=\"screen-reader-text\">\ud558\uc704 \uba54\ub274 \ud655\uc7a5<\/span>","collapse":"<span class=\"screen-reader-text\">\ud558\uc704 \uba54\ub274 \ucd95\uc18c<\/span>"};
  /* ]]> */
  </script>
  <script type='text/javascript' src="{{ "/assets/javascript/functions.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  {%- if site.google_analytics -%}
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "{{ site.google_analytics }}");
    </script>
  {%- endif -%}
</body>
</html>