---
layout: default
---

{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
<article>
  <div class="post-container">
    <header>
      <a class="post-link" href="{{ page.url | relative_url }}">
        <h2 class="post-title">{{ page.title | escape }}</h2>
      </a>
      <div class="post-date">{{ page.date | date: date_format }}</div>
      <div class="post-meta">
        <ul class="post-categories">
          <li>
            <a
              class="category"
              href="/category/{{ page.category | slugify | prepend: site.baseurl }}.html"
              >{{ page.category | replace:'-', ' ' }}</a
            >
          </li>
        </ul>
      </div>
    </header>
    <hr style="opacity: 0.1" />
    <div class="post">{{ content }}</div>
  </div>
</article>
